@inject IToastService Toaster

<EditForm Model="this">
	<div class="d-flex flex-column gap-0">
		<label>@Value.Label</label>
		<InputText  class="form-control" @bind-Value=Value.StringValue />
	</div>	
</EditForm>

@code {
	[Parameter] public FloatItem Value { get; set; } = new();

	protected override void OnParametersSet()
	{
		Value.FormatError -= ReportError;
		Value.FormatError += ReportError;
	}

	void ReportError(object? sender, string error)
	{
		Toaster.ShowError(error);
	}
}
