<EditForm Model="this">
	<div class="d-flex flex-column gap-0 p-2 ScaleItemBox">
		<h4>@Item.Label</h4>
		<InstructionsSpace Item="Item" />
		<InputSelect class="form-select mt-4" @bind-Value=@Item.SelectedOption>
			@foreach (var op in Item.Options)
			{
				<option value="@op">@op</option>
			}
		</InputSelect>
	</div>
</EditForm>

@code {
	[Parameter] public OptionsItem Item { get; set; } = new();
}
