@page "/"
@using rXCompanionAppComponents.Pages.ScalesEditors
@inject DataBase DB;
@inject Blazored.Toast.Services.IToastService Toaster;

<BlazoredToasts/>

@if (CurrentMode == Modes.PatientSelection)
{
	<PatientList 
		SelectedPatient="SelectedPatient" 
		AddNewPatientRequested="AddNewPatientRequested"
		PatientSelected="PatientSelected" />
}
else if(CurrentMode == Modes.PatientEditor)
{
	<PatientEditor PatientToEdit="SelectedPatient"
		PatientDeleted="PatientDeleted"
		ChangesSaved="PatientModified"/>
}
else if(CurrentMode == Modes.TherapyViewer)
{
	<TherapyViewer
		SelectedPatient="SelectedPatient"
		EditPatientRequested="@(()=>{CurrentMode = Modes.PatientEditor;})"
		AddSessionToTherapy="@(()=>{CurrentMode = Modes.SessionEditor;})"
		Exit="ExitRequested"/>
}
else if(CurrentMode == Modes.SessionEditor)
{
	<SessionEditor 
		Patient="SelectedPatient" 
		TherapyID=@SelectedTherapy.TherapyLabel
		OpenScaleEditor="OpenScaleEditor"
		Exit="ExitSessionEditor"
		Session="null"/>
}
else if(CurrentMode == Modes.ScaleEditor)
{
	@if(SelectedScale is not null)
	{
		@if(SelectedScale is NineHolePegTest)
		{
			<AutoScaleeEditor Patient="SelectedPatient" 
				Therapy="SelectedTherapy" 
				Scale="SelectedScale" 
				ExitAutoScale="@(()=>{CurrentMode = Modes.SessionEditor;})"/>
		}
		else
		{
			<div>This scale is not yet supported</div>
		}
	}
}


@code{
	enum Modes {PatientSelection, PatientEditor, TherapyViewer, SessionViewer, SessionEditor, ScaleEditor};
	Modes CurrentMode = Modes.PatientSelection;

	Patient? SelectedPatient = null;
	Therapy? SelectedTherapy = null;
	IScale SelectedScale;

	protected override void OnParametersSet()
	{
		DB.ErrorOccurred += (o, e) => Toaster.ShowError(e.Message);
	}

	void AddNewPatientRequested()
	{
		SelectedPatient = null;
		CurrentMode = Modes.PatientEditor;
	}

	async Task PatientSelected(Patient p)
	{		
		if(! p.IsFullyLoadedFromDB)
			p = await DB.GetPatient(p.Id) ?? new Patient { PatientLabel = "Not Found" };

		SelectedPatient = p;
		SelectedTherapy = SelectedPatient.GetTherapy(p.TherapyLabels[0]);
		CurrentMode = Modes.TherapyViewer;
	}

	async Task PatientModified(Patient p)
	{
		SelectedPatient = p;
		CurrentMode = Modes.TherapyViewer;

		await DB.LoadListOfPatients();
	}

	async Task PatientDeleted()
	{
		SelectedPatient = null;
		CurrentMode = Modes.PatientSelection;
		await DB.LoadListOfPatients();
	}

	void ExitRequested()
	{
		SelectedPatient = null;
		CurrentMode = Modes.PatientSelection;
	}

	void ExitSessionEditor()
	{
		CurrentMode = Modes.TherapyViewer;
	}

	void OpenScaleEditor(IScale scale)
	{
		SelectedScale = scale;
		CurrentMode = Modes.ScaleEditor;
	}
}